@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&family=Roboto:ital,wght@0,400;0,900;1,100&display=swap');

*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html::before{
    content: '<html>';
    font-size: 1.2rem;
    font-family: 'La Belle Aurore', cursive;
    color: #666565;
    letter-spacing: 3px;
    font-weight: 100;
}

html::after{
    content: '</html>';
    font-size: 1rem;
    font-family: 'La Belle Aurore', cursive;
    color: #666565;
    letter-spacing: 3px;
    font-weight: 100;
}

body{
    font-family: 'Open Sans', sans-serif;
    color: rgb(255, 255, 255);
    background: rgb(29, 29, 29);
}

body::before{
    content: '<body>';
    font-size: 1rem;
    font-family: 'La Belle Aurore', cursive;
    color: #666565;
    letter-spacing: 3px;
    font-weight: 100;
}

body::after{
    content: '<body>';
    font-size: 1rem;
    font-family: 'La Belle Aurore', cursive;
    color: #666565;
    letter-spacing: 3px;
    font-weight: 100;
}

header{
    width: 95%;
    height: 10vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 2;
}

.cursor {
    pointer-events: none;
    position: fixed;
    display: block;
    border-radius: 0;
    mix-blend-mode: difference;
    top: 0;
    left: 0;
    z-index: 9999999999999999;  
}

.circle {
    position: absolute;
    display: block;
    width: 26px;
    height: 26px;
    border-radius: 20px;
    background-color: #fff;
}

#sound{
    padding: 7px;
    background-color: #1b1b1b;
    border-radius: 5px;
    display: flex;
    align-items: center;
    color: #fff;
}

.sound-cloud{
    font-size: 1.2rem;
    margin: 7px;
    color: #f50057;
}

.on-off{
    cursor: pointer;
    margin-left: 5px;
}

#off{
    color: #f50057;
}

#on{
    display: none;
    color: #08fdd8;
}

.btns-container .fas{
    font-size: 2rem;
    padding: 10px;
    background-color: #181818;
    color: #fff;
    cursor: pointer;
}

.btns-container .fas:hover{
    transform: scale(1.1);
}

.fa-play{
    background-color: #f50057;
}

.fa-pause{
    background-color: #08fdd8;
}

